{%extends '_layouts/base.njk'%}
{%block page_title%} Discography {%endblock%}
{%block description%} Queens's Discography {%endblock%}

{%block content%}
<div class="container-fluid music-container text-dark">
<h1> Music </h1>
  <div class="row justify-content-center">
  {%for discography in queen.discography%}
    <div class="music col-sm-6 col-md-3">
      <div class="card-music">
        <img class="card-img img-fluid" src="img/discs/{{ discography.image }}" alt="{{ discography.title }}">
          <div class="container-fluid music container">
            <div class="card-body text-dark">
              <h4 class="card-title text-dark"> {{ discography.title }}</h4>
              <h5 class="card-text text-dark"> {{ discography.year }} </h5>
            </div>
          </div>
      </div>
    </div>
  {%endfor%}
  </div>
</div>
{%endblock%}