<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="index.html">
    <div class="logo-image">
      <img src="img/queen-logo-white.png" class="img-fluid">
    </div>
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="index.html" id="navbarMenuLink" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="john-deacon.html">John Deacon</a>
          <a class="dropdown-item" href="brian-may.html">Brian May</a>
          <a class="dropdown-item" href="freddie-mercury.html">Freddie Mercury</a>
          <a class="dropdown-item" href="roger-taylor.html">Roger Taylor</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="discography.html" id="navbarMenuLink" role="button" aria-haspopup="true" aria-expanded="false">Albums</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="tour.html" id="navbarMenuLink" role="button" aria-haspopup="true" aria-expanded="false">Tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="billboard.html" id="navbarMenuLink" role="button" aria-haspopup="true" aria-expanded="false">Billboard</a>
      </li> 
    </ul>
  </div>
</nav>
