.music-container {
  .music {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 5px;
    .card-img {
      width: 100%;
    }
    .card-text {
      font-size: 15px;
      position: absolute;
      text-align: center;
      padding-top: 0px;
    }
    .card-title{
      padding-top: 5px;
      margin-bottom: 1px;
    }
    }
  }
